---
import Home from "./ScreenHome.astro";
interface Experience {
    company: string;
    position: string;
    period: string;
    url_company: string;
    description: string[];
}

interface Props {
    experiences: Experience[];
}

const { experiences } = Astro.props;
---

<Home id="experience">
    <div class="max-w-6xl mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-12">Experience</h2>
        <div class="space-y-8">
            {experiences.map(experience => (
                <div class="bg-white p-6 rounded-lg shadow-sm">
                    <div class="flex flex-col md:flex-row md:items-center justify-between mb-4">
                        <div>
                            <h3 class="text-xl font-semibold">{experience.position}</h3>
                            <a href={experience.url_company} target="_blank" class="text-blue-600">{experience.company}</a>
                        </div>
                        <span class="text-gray-500">{experience.period}</span>
                    </div>
                    <ul class="list-disc list-inside text-gray-600 space-y-2">
                        {experience.description.map(item => (
                            <li>{item}</li>
                        ))}
                    </ul>
                </div>
            ))}
        </div>
    </div>
</Home>